.app {
    background-color: #073138;
    color: white;
}

.container-resident {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
}
.error{
    width: 150px;
    height: auto;
}